.cont {
    background-color: #d6d8da;
    margin: 2em;
    padding: 1em;
}

.list {
    min-height: 100px;
}

.item {
    //padding: 1em;
    //margin: 1em;
    //border: 1px solid #6b6b6b;
}

.itemNoShow {
    opacity: 0.5;
}

.itemIsWrapper {
    border: 1px dashed black;
    margin-bottom: 1em;
    padding: 1em;
}

.itemHeader {
    margin-bottom: 1em;
}

.itemIsWrapper> .itemChild {

}

.source {
    background-color: #ffaa78;
}

.target {
    background-color: #4caf50;
}

.dropzone {
    background-color: rgba(100, 0, 0, .5);
    padding: .5em;
    margin: .5em;
}


.placeholder {
    margin-top: 12px;
    height: 80px;
    border: 2px dashed #6b6b6b;
    background-color: #eee;
}



.wrap {
    display: flex;
    width: 100%;
}

.widgetWrap {
    flex-grow: .5;
    background-color: #d2d2d2;
}

.editor {
    flex-grow: 2;
    background-color: #eee;
    padding: 1em;
}

.json {
    flex-grow: 1;
    padding: 1em;
    background-color: #272822;
}

.chosen {
    background-color: #6b6b6b;
    opacity: .25;
}

.chosen.ghost .itemChild {
    display: none;
}

.ghost {
    background-color: #6b6b6b;
    opacity: 1;
}

.handle {
    background-color: black;
    width: 50px;
    display: block;
}

.isDragging {
    background-color: red;
}


.json {
    color: #F8F8F2;
}
.syntaxNumber {
    color: #AE81FF;
}
.syntaxKey {

}
.syntaxString {
    color: #E6DB74;
}
.syntaxBoolean {
    color: #F92672
}
.syntaxNull {
    color: #F92672
}


.widgetItem {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: white;
}