.cont {
    background-color: #d6d8da;
    margin: 2em;
    padding: 1em;
}

.list {
    min-height: 100px;
}

.item {
    padding: 1em;
    margin: 1em;
    border: 2px dashed #6b6b6b;

}

.source {
    background-color: #ffaa78;
}

.target {
    background-color: #4caf50;
}