.component {
    min-height: 100vh;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAA6ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyIKICAgICAgICAgICAgeG1sbnM6ZXhpZj0iaHR0cDovL25zLmFkb2JlLmNvbS9leGlmLzEuMC8iPgogICAgICAgICA8eG1wOk1vZGlmeURhdGU+MjAxNi0wNi0wOVQxNjowNjo5ODwveG1wOk1vZGlmeURhdGU+CiAgICAgICAgIDx4bXA6Q3JlYXRvclRvb2w+UGl4ZWxtYXRvciAzLjU8L3htcDpDcmVhdG9yVG9vbD4KICAgICAgICAgPHRpZmY6T3JpZW50YXRpb24+MTwvdGlmZjpPcmllbnRhdGlvbj4KICAgICAgICAgPHRpZmY6Q29tcHJlc3Npb24+NTwvdGlmZjpDb21wcmVzc2lvbj4KICAgICAgICAgPHRpZmY6UmVzb2x1dGlvblVuaXQ+MjwvdGlmZjpSZXNvbHV0aW9uVW5pdD4KICAgICAgICAgPHRpZmY6WVJlc29sdXRpb24+NzI8L3RpZmY6WVJlc29sdXRpb24+CiAgICAgICAgIDx0aWZmOlhSZXNvbHV0aW9uPjcyPC90aWZmOlhSZXNvbHV0aW9uPgogICAgICAgICA8ZXhpZjpQaXhlbFhEaW1lbnNpb24+MTY8L2V4aWY6UGl4ZWxYRGltZW5zaW9uPgogICAgICAgICA8ZXhpZjpDb2xvclNwYWNlPjE8L2V4aWY6Q29sb3JTcGFjZT4KICAgICAgICAgPGV4aWY6UGl4ZWxZRGltZW5zaW9uPjE2PC9leGlmOlBpeGVsWURpbWVuc2lvbj4KICAgICAgPC9yZGY6RGVzY3JpcHRpb24+CiAgIDwvcmRmOlJERj4KPC94OnhtcG1ldGE+Cgg27OgAAAAqSURBVCgVY3z37h0D0UBQUJCJaMVQhaMaiAmx0VCiSSgx/v//nxiD4WoA2LgGGRRGdowAAAAASUVORK5CYII=');
}

.componentPreview {
    background: none;
}

.pageWrap {
    display: flex;
    width: 100%;
    padding-bottom: 16px;
}

.colOptions {
    width: 400px;
    flex: 0 0 400px;
    padding-right: 16px;
}

.colOptionsInner {
    color: #E7E7E7;
    background-color: #464646;
    padding: 8px 16px 16px 16px;
    border-radius: 5px;
    border-top-left-radius: 0;
}

.colOptionsMiddle {
    position: relative;
}

.colWidgets {
    width: 250px;
    flex: 0 0 250px;
    padding: 16px 16px 0 16px;
}

.colWidgetsInner {
    background-color: #464646;
    border-radius: 5px;
    padding: 8px 0 16px 0;
}

.colEditor {
    flex: 1;
}

.colEditorInner {
    //padding: 10px;
    position: relative;
}

.fullFormWrapper {
    margin: 1em;
    border-radius: 5px;
    padding: 1em;
    background-color: #eee;
}

.json {
    padding: 1em;
    background-color: #272822;
}

.editorTitleWrapper {
    cursor: pointer;
    padding: 20px 20px 0 20px;
}

.editorTitle {
    font-size: 26px;
    font-weight: 500;
}

.formSettingsButton {
    float: right;
    margin-left: 20px;
    background-color: #C0C0C0;
    color: #515151;
    border: 0;
    appearance: normal;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    border-radius: 5px;
    font-weight: 700;
    transition: background-color 180ms;
}

.formSettingsButtonActive,
.formSettingsButton:hover,
.formSettingsButton:active,
.formSettingsButton:focus {
    background-color: #464646;
    color: #E7E7E7;
    outline: 0 !important;
}

.optionsArrow {
    position: absolute;
    left: -10px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 10px solid #464646;
}

.boxTitle {
    padding: 0 8px;
    background-color: #464646;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #E7E7E7;
    font-weight: 700;
}
