.widgetItem {
    width: calc(100% - 32px);
    padding: 8px;
    margin: 16px;
    border: 1px solid #717171;
    background-color: #535353;
    color: #E7E7E7;
    cursor: move;
    text-align: center;
}
